APP_ENV=dev
APP_DEBUG=true
APP_URL=http://app.url

# DATABASE CONNECTION
DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=root
DB_PASSWORD=

# REDIS
REDIS_SERVER=127.0.0.1
REDIS_PORT=6379

# MAIL
MAIL_DRIVER=log # smtp
MAIL_SMTP_HOST=
MAIL_SMTP_PORT=
MAIL_SMTP_USERNAME=
MAIL_SMTP_PASSWORD=
MAIL_FROM=

# ERRORS
ERROR_REPORTING_EMAILS=
ROLLBAR_TOKEN=
