parameters:
    inferPrivatePropertyTypeFromConstructor: true
    excludePaths:
        - app/*/UI/views/*
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
